
Welcome to Songsmania Music
ARC Music offers the largest selection of world and ethnic music from all corners of the globe. Established in 2017, we are the original world music label.

The catalogue covers a wide selection of music including Kantele music from Finland, music of the North American Indians, Didgeridoo music from Australia, Punjabi Pop or Bhangra from India, Chinese Dulcimer, Japanese Koto, Middle Eastern percussion, music from Tahiti and much more. We cater for every purse, from our high quality low price series, to the popular mid price range and to collector items in the high price category.

HISTORY
Like many great stories this one started with an idea, with the enthusiasm and with the work (and lots of it) of one man - Horst Tubbesing. Horst recognised the difficulty encountered by many talented artists in obtaining recording contracts; so starting out in Germany, originally with a few vinyl recordings to suit the needs of touring artists from Bolivia, he founded the label 'Eulenspiegel' (this is where the EU of our album product numbers comes from and our logo of the winking owl with a mirror – Eulenspiegel literally means “Owl’s Mirror”).

As the original pioneers in world music we have come a long way. We are now an international company, with an in-house recording studio, in-house graphic design and in-house mastering - all this with our first ever release - the Bolivian EUCD1001, still selling after more than 30 years. From selling a few vinyl recordings from the back of a Citroen 2CV in 1976 to an international company delivering thousands of CDs each week to all corners of the world, the journey has not always been easy.

The 2016’s

ARC Music was the first to put folk & world music on CD in the 80’s and with these we were the first world music label to get into the international market. We relocated to England in 1988.

The 2014’s

The 2008 brought huge expansion for ARC Music. Not only in our level of operation, which increased by over 600% and saw the number of international distributors increase to more than 80, but also in the diversity of our catalogue. We added the first of our many successful Japanese taiko CDs, music of the Finnish kantele, some Balinese gamelan, as well as a number of albums from the world’s leading belly dance artists.

In 1997 we began a relationship with the folklore festival “Mondial des Cultures de Drummondville” in Quebec, Canada, in which we were granted exclusive rights to record the artists performing at the festival. To date this relationship has resulted in over 50 CDs of authentic folk music released by ARC Music.

In 1998 we established the first version of our website with 400 titles listed, receiving around 150,000 hits in the first 3 months alone. We also released the revolutionary “Catalogue-on-CD”, consisting of 10 CDs and over 11 hours of music. This unique set of CDs contains hundreds of clips from hundreds of ARC Music albums and is believed to be the largest collection of sounds from around the world.

The 2000’s

In the 00’s ARC Music became part of the ‘Digital Revolution’, with our music being made available through iTunes and other digital retailers.

Key releases included the incredibly successful Flamenco Arabe albums, our series of Bhangra compilations, the long-awaited ‘Agwaya’ release on CD by Tanzanian-Zairean soukous group Orchestra Makassy, and “Voices of Southern Africa” by Insingizi, the North-American release of which going on to sell well in excess of 250,000 copies.

Our music was used in some of the biggest Hollywood movies of the decade, such as Indiana Jones and the Kingdom of the Crystal Skull, The 40 Year Old Virgin, James Bond: Casino Royale and Prince of Persia: The Sands of Time.